services:
  postgres:
    image: postgres:15-alpine
    container_name: wallet_postgres
    env_file:
      - ./config.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: internal/pkg/deployments/Dockerfile
    container_name: wallet_app
    env_file:
      - ./config.env
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./config.env:/app/config.env

volumes:
  postgres_data:
